* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.title {
    text-align: center;
    margin-top:4px;
    padding:5px;
}
.container {
    display:flex;
    flex-direction: column;
    box-shadow:1px 1px 5px rgb(157,157,157);
    flex-wrap: wrap;
    margin:0 auto;
    margin-top:36px;
    width:500px;
    height:500px;

}
.gridRow {
    display:flex;
    flex:1;
}
.gridItem {
    flex:1;
   
    
}